.button {
  cursor: pointer;
  border-radius: 40px;

  &__icon {
    width: 24px;
    height: 24px;
  }

  //&__text {}

  &--primary {
    color: var(--primary-color);
    background-color: var(--background-color);
    border-color: var(--primary-color);
    font-size: 20px;
    padding-block: 12px;
    padding-inline: 26px;

    letter-spacing: 1px;
  }

  &--secondary {
    color: var(--background-color);
    background-color: var(--primary-color);
  }
}

// .button--primary {}
// .button--secondary {}
.button--disabled {
  color: var(--inactive);
}

// button__text {}
