@use '../../../scss/abstract/mixin';

.header {
  background-color: var(--primary-color);
  color: var(--background-color);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__burger {
  display: none;
}

.header__logo--mobile {
  display: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
}

.header {
  &__inner {
    @include mixin.flex-center;

    padding-inline: var(--section-inl-sm);
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
  }

  &__left {
    @include mixin.flex-center(column);
  }

  &__text {
    font-family: 'Anta';
    letter-spacing: 2px;
    font-size: 12px;

    & .color-white {
      color: white;
      font-weight: bold;
    }

    &-developer {
      margin-top: 4px;
    }
  }

  &__logo {
    width: 64px;
    height: 64px;
  }
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex: 5;
  letter-spacing: 1px;

  &-link {
    cursor: pointer;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.header__nav-item {
  position: relative;
  &-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);

    width: 90px;
    height: 70px;
  }
}
.color-white {
  color: var(--secondary-color);
}

/* -------------------- */
/* LANGUAGE */
/* -------------------- */

.header__language {
  display: flex;
  gap: 10px;

  &-item {
    position: relative;
  }

  &-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-button {
    position: relative;
    z-index: 10;

    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: var(--secondary-color);
    }

    &--active {
      color: var(--secondary-color);
    }
  }
}

// RESPONSIVE

@include mixin.responsive(tabletPro) {
  .header__inner {
    padding-inline: 48px;
  }

  .header__nav {
    gap: 80px;
  }
}

@include mixin.responsive(tablet) {
  .header {
    background-color: var(--background-color);
  }

  .header__nav,
  .header__language {
    display: none;
  }

  .header__burger {
    display: flex;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;

    & img {
      width: 50px;
      height: 50px;
    }
  }

  .header__logo--mobile {
    width: 74px;
    height: 74px;
  }

  .header__burger-default,
  .header__burger-hover {
    position: absolute;
    top: 0;
    left: 0;
  }

  .header__burger-default {
    opacity: 1;
  }

  .header__burger-hover {
    opacity: 0;
  }

  .header__burger:hover .header__burger-default {
    opacity: 0;
  }

  .header__burger:hover .header__burger-hover {
    opacity: 1;
  }

  .header__logo {
    display: none;
  }

  .header__logo--mobile {
    display: block;
  }

  .header__inner {
    justify-content: space-between;
    padding-inline: 48px;
    padding-top: 48px;
  }

  .header__text-developer {
    color: var(--primary-color);
  }
}

@include mixin.responsive(mobileSmall) {
  .header__burger {
    width: 50px;
    height: 50px;

    & img {
      width: 40px;
      height: 40px;
    }
  }

  .header__logo--mobile {
    width: 64px;
    height: 64px;
  }
}
