<header class="header">
  <div class="content-limit">
    <!-- HEADER BEGINS -->
    <div class="header__inner">
      <div class="header__left">
        <img class="header__logo" src="./assets/icons/logo-dark2.png" />
        <img class="header__logo--mobile" src="./assets/icons/logo-light2.png" />
        <div class="header__text">
          <p class="color-white">F.Kalloch</p>
          <p class="header__text-developer">developer</p>
        </div>
      </div>

      <nav class="header__nav">
        <div class="header__nav-item" (click)="setActiveSection('why-me')">
          @if (activeSection == 'why-me') {
            <img class="header__nav-item-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <a class="header__nav-link" href="#why-me" [class.color-white]="activeSection == 'why-me'"
            ><h3>{{ 'header.whyMe' | translate }}</h3></a
          >
        </div>
        <div class="header__nav-item" (click)="setActiveSection('skills')">
          @if (activeSection == 'skills') {
            <img class="header__nav-item-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <a
            class="header__nav-link"
            href="#skills"
            [class.color-white]="activeSection == 'skills'"
          >
            <h3>{{ 'header.skills' | translate }}</h3></a
          >
        </div>
        <div class="header__nav-item" (click)="setActiveSection('projects')">
          @if (activeSection == 'projects') {
            <img class="header__nav-item-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <a
            class="header__nav-link"
            href="#projects"
            [class.color-white]="activeSection == 'projects'"
            ><h3>{{ 'header.projects' | translate }}</h3></a
          >
        </div>
        <div class="header__nav-item" (click)="setActiveSection('contact')">
          @if (activeSection == 'contact') {
            <img class="header__nav-item-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <a
            class="header__nav-link"
            href="#contact"
            [class.color-white]="activeSection == 'contact'"
            ><h3>{{ 'header.contact' | translate }}</h3></a
          >
        </div>
      </nav>
      <div class="header__burger" (click)="toggleBurgerMenu()">
        <img
          class="header__burger-default"
          src="./assets/hero-section/responsive/burger-menu/burger-menu-default.png"
        />
        <img
          class="header__burger-hover"
          src="./assets/hero-section/responsive/burger-menu/burger-menu-hover.png"
        />
      </div>
      <div class="header__language">
        <!-- LANGUAGE GERMAN -->
        <div
          class="header__language-item"
          (mouseover)="onMouseOver('de')"
          (mouseleave)="onMouseLeave()"
        >
          @if (activeLanguage == 'de' && hoveredLanguage == '') {
            <img class="header__language-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <button
            class="header__language-button"
            [class]="
              hoveredLanguage == 'de' || (hoveredLanguage == '' && activeLanguage == 'de')
                ? 'header__language-button--active'
                : ''
            "
            (click)="changeLanguage('de')"
          >
            DE
          </button>
        </div>

        <!-- LANGUAGE ENGLISCH -->
        <div
          class="header__language-item"
          (mouseover)="onMouseOver('en')"
          (mouseleave)="onMouseLeave()"
        >
          @if (activeLanguage == 'en' && hoveredLanguage == '') {
            <img class="header__language-bubble" src="./assets/bubbles/Ellipse-24.png" />
          }
          <button
            class="header__language-button"
            [class]="
              hoveredLanguage == 'en' || (hoveredLanguage == '' && activeLanguage == 'en')
                ? 'header__language-button--active'
                : ''
            "
            (click)="changeLanguage('en')"
          >
            EN
          </button>
        </div>
      </div>
    </div>

    <!-- HEADER ENDS -->
  </div>
</header>
