@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';
@use '../../../scss/components/buttons';

.app-skill {
  height: 100vh;
  // padding-top: var(--section-gap);
  padding-inline: var(--section-inl-sm);
  font-size: 20px;
}

.skills__inner {
  @include mixin.flex-center(column);
}

.skill__section-seperator {
  display: flex;
  gap: 100px;
  margin-top: var(--section-gap);
}

.skill__section {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  gap: 80px;
  color: var(--primary-color);

  &-icon {
    @include mixin.flex-center(column);
    width: 60px;
    height: 60px;
    gap: 12px;

    text-align: center;
  }
}

.skill-icon {
  width: 60px;
  height: 60px;
}

.learning__section {
  background-image: url('/assets/bubbles/Ellipse-default.png');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  width: 40%;
  padding: 48px;

  @include mixin.flex-center(column);
  gap: 22px;
  color: white;
  text-align: center;

  &-icons {
    display: flex;
    gap: 22px;
  }

  &-skill {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
