@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';
@use '../../../scss/components/buttons';

.skills-mobile {
  display: none;
}

.app-skill {
  padding-inline: var(--section-inl-sm);
  padding-block: 32px;
  font-size: 20px;
  height: 100%;
}

.skills__inner {
  @include mixin.flex-center(column);
}

.skill__section-seperator {
  display: flex;
  gap: 100px;
  margin-top: var(--section-gap);
}

.skill__section {
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;
  gap: 80px;
  color: var(--primary-color);

  &-icon {
    @include mixin.flex-center(column);
    width: 60px;
    height: 60px;
    gap: 12px;

    text-align: center;
  }
}

.skill-icon {
  width: 60px;
  height: 60px;
}

.learning__section {
  position: relative;
  width: 40%;
  padding: 48px;

  @include mixin.flex-center(column);
  gap: 42px;
  color: white;
  text-align: center;

  &-icons {
    display: flex;
    gap: 22px;
  }

  &-skill {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.bubble-default,
.bubble-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.bubble-default {
  opacity: 1;
}

.bubble-hover {
  opacity: 0;
}

.learning__section:hover .bubble-default {
  opacity: 0;
}

.learning__section:hover .bubble-hover {
  opacity: 1;
}

.skills-mobile__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// RESPONSIVE

@include mixin.responsive(desktop) {
  .bubble-default,
  .bubble-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 115%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}
@include mixin.responsive(tabletPro) {
  .app-skill {
    padding-inline: 48px;
  }

  .skill__section-seperator {
    gap: 10px;
  }

  .skill__section {
    padding-left: 0;
    width: 450px;
  }

  .learning__section {
    width: 50%;
  }

  .bubble-default,
  .bubble-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}
@include mixin.responsive(tablet) {
  .skills-desktop {
    display: none;
  }

  .skills-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .skill__section-seperator {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .skill-icon-text {
    display: none;
  }

  .skill__section {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-inline: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .skills-mobile__headline {
    font-size: 22px;
    padding-bottom: 50px;
    letter-spacing: 2px;
  }

  .skills-mobile__content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 20px;
    gap: 32px;
    padding-bottom: 48px;
  }

  .skills-mobile__text {
    width: 60%;
    letter-spacing: 2px;
    line-height: 1.2;
  }

  .skills-mobile__bubble {
    width: 160px;
    position: relative;
  }

  .skills-mobile__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bubble-default-mobile {
    display: block;
    width: 100%;
  }

  .bubble-hover-mobile {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
  }
  .skills-mobile__bubble:hover .bubble-default-mobile {
    opacity: 0;
  }

  .skills-mobile__bubble:hover .bubble-hover-mobile {
    opacity: 1;
  }

  .button--secondary:hover {
    background-color: var(--secondary-color);
  }
}
@include mixin.responsive(mobile) {
  .app-skill {
    padding-block: 48px;
    padding-inline: 32px;
  }

  .skill__section {
    padding-inline: 0;
  }

  h3 {
    font-size: 22px;
  }

  .headline {
    font-size: 50px;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
  }
}
@include mixin.responsive(mobileSmall) {
  h3 {
    font-size: 18px;
  }

  .skills-mobile__content {
    font-size: 16px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}
