@use '../../../../scss/abstract/mixin';
@use '../../../../scss/base/global';

.project__card--mobile {
  display: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

.project__details-bg {
  background-color: var(--surface-color);
}

.project__card {
  padding-block: var(--space-lg);
  padding-inline: 100px;

  background-color: var(--surface-color);

  display: flex;
  color: var(--secondary-color);
  gap: var(--space-lg);
}

// project infos left side

.project__info-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 55%;
}

.project__info-item {
  display: flex;
  align-items: flex-start;
  gap: var(--space-sm);
  min-height: 120px;
}

.project__info-bubble {
  width: 32px;
  height: 32px;
}

.project__info-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.project__info-headline {
  display: flex;
  align-items: center;

  gap: var(--space-md);
}

// project infos right side

.project__overview {
  @include mixin.flex-center(column);
  width: 45%;
  gap: 32px;

  &-tech {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-sm);

    &-list {
      display: flex;
      gap: 32px;
    }
  }
  &-image {
    position: relative;
  }
}

.project__image {
  border-radius: 42px;

  width: 500px;
  height: 340px;
}

.project__image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &-text {
    color: var(--primary-color);
    font-size: 20px;
  }
}

.project__overview-links {
  display: flex;
  gap: var(--space-lg);
}

.button--primary:hover {
  background-color: var(--hover-color-dark);
}

.button--secondary:hover {
  background-color: var(--secondary-color);
}

// Responsive

@include mixin.responsive(tabletPro) {
  .project__card {
    padding-inline: 50px;
    gap: var(--space-lg);
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  // project infos left side

  .project__info-list {
    gap: 32px;
  }

  .project__info-item {
    gap: var(--space-sm);
  }

  .project__info-bubble {
    width: 28px;
    height: 28px;
  }

  // project infos right side

  .project__image {
    width: 400px;
    height: 240px;
  }

  .project__image-overlay {
    &-text {
      font-size: 18px;
    }
  }
}

@include mixin.responsive(tablet) {
  .project__details-bg {
    border-radius: 0 0 48px 48px;
    margin-top: -1px;
  }

  .project__card--desktop {
    display: none;
  }

  h2 {
    font-size: 24px;
  }

  .project__card--mobile {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline: 48px;
    padding-block: 48px;
    color: var(--secondary-color);
  }

  .project__title {
    color: var(--primary-color);
    font-size: 28px;
    margin-bottom: 8px;
  }

  .project__mobile-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .project__mobile-headline {
    display: flex;
    gap: 12px;
    color: var(--primary-color);
  }

  .project__mobile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .project__overview-links {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }

  .info__section {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

@include mixin.responsive(mobile) {
  h2 {
    font-size: 22px;
  }

  .project__card--mobile {
    padding-inline: 28px;
    padding-block: 28px;
  }

  .project__overview-links {
    gap: 16px;
  }

  .project__image {
    width: 320px;
    height: 200px;
  }
}

@include mixin.responsive(mobileSmall) {
  h2 {
    font-size: 20px;
  }
}
