<div class="project__details-bg">
  <div class="content-limit">
    <div class="project__card">
      <!-- HIER kommt dein kompletter Card-Inhalt rein -->

      <!-- PROJECT CARD LEFT SIDE -->
      <div class="project__info-list">
        <!-- ABOUT THE PROJECT -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="/assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ 'projects.details.about' | translate }}</h2>
              <span>{{ 'projects.details.duration' | translate }} {{ project?.duration }}</span>
            </div>

            <p>
              {{ project?.aboutText }}
            </p>
          </div>
        </div>
        <!-- WORK ORGANISATION -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="/assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ 'projects.details.organisation' | translate }}</h2>
            </div>

            <p>
              {{ project?.organisationText }}
            </p>
          </div>
        </div>

        <!-- WHAT I HAVE LEARNT OR GROUP EXPERIENCE -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="/assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ project?.learnedTitle }}</h2>
            </div>

            <p>
              {{ project?.learnedText }}
            </p>
          </div>
        </div>
      </div>

      <!-- PROJECT CARD RIGHT SIDE -->
      <div class="project__overview">
        <div class="project__overview-tech">
          <p>{{ 'projects.details.technologies' | translate }}</p>
          <div class="project__overview-tech-list">
            @for (path of project?.technologies; track path) {
              <img [src]="path" />
            }
          </div>
        </div>

        <div class="project__overview-image">
          <img class="project__image" src="{{ project?.image }}" />
          <!-- Overlay -->

          <div class="project__image-overlay">
            @if (project?.title === 'Ongoing Project') {
              <p class="project__image-overlay-text">
                {{ 'projects.details.comingSoon' | translate }}
              </p>
            }
          </div>
        </div>
        <div class="project__overview-links">
          <a href="{{ project?.liveTestLink }}" class="button button--secondary">Live Test</a>
          <a href="{{ project?.githubLink }}" class="button button--primary">GitHub</a>
        </div>
      </div>
    </div>
  </div>
</div>
