<div class="project__details-bg">
  <div class="content-limit">
    <div class="project__card project__card--desktop">
      <!-- HIER kommt dein kompletter Card-Inhalt rein -->

      <!-- PROJECT CARD LEFT SIDE -->
      <div class="project__info-list">
        <!-- ABOUT THE PROJECT -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ 'projects.details.about' | translate }}</h2>
              <span>{{ 'projects.details.duration' | translate }} {{ project?.duration }}</span>
            </div>

            <p>
              {{ project?.aboutText }}
            </p>
          </div>
        </div>
        <!-- WORK ORGANISATION -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ 'projects.details.organisation' | translate }}</h2>
            </div>

            <p>
              {{ project?.organisationText }}
            </p>
          </div>
        </div>

        <!-- WHAT I HAVE LEARNT OR GROUP EXPERIENCE -->
        <div class="project__info-item">
          <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />

          <div class="project__info-content">
            <div class="project__info-headline">
              <h2>{{ project?.learnedTitle }}</h2>
            </div>

            <p>
              {{ project?.learnedText }}
            </p>
          </div>
        </div>
      </div>

      <!-- PROJECT CARD RIGHT SIDE -->
      <div class="project__overview">
        <div class="project__overview-tech">
          <p>{{ 'projects.details.technologies' | translate }}</p>
          <div class="project__overview-tech-list">
            @for (technology of project?.technologies; track technology.name) {
              <img [src]="technology.icon" [alt]="technology.name" />
            }
          </div>
        </div>

        <div class="project__overview-image">
          <img class="project__image" src="{{ project?.image }}" />
          <!-- Overlay -->

          <div class="project__image-overlay">
            @if (project?.title === 'Ongoing Project') {
              <p class="project__image-overlay-text">
                {{ 'projects.details.comingSoon' | translate }}
              </p>
            }
          </div>
        </div>
        <div class="project__overview-links">
          <a
            [href]="project?.liveTestLink"
            target="_blank"
            rel="noopener noreferrer"
            class="button button--secondary"
          >
            Live Test
          </a>

          <a
            [href]="project?.githubLink"
            target="_blank"
            rel="noopener noreferrer"
            class="button button--primary"
          >
            GitHub
          </a>
        </div>
      </div>
    </div>

    <!-- MOBILE -->
    <div class="project__card--mobile">
      <h2 class="project__title">{{ project?.title }}</h2>

      <p>
        Technologies:
        @for (technology of project?.technologies; track technology.name; let i = $index) {
          @if (i > 0) {
            <span>, </span>
          }
          <span>{{ technology.name }}</span>
        }
      </p>

      <p>Duration: {{ project?.duration }}</p>

      <div class="project__mobile-image-wrapper">
        <img class="project__image" [src]="project?.image" />

        @if (project?.title === 'Ongoing Project') {
          <div class="project__image-overlay">
            <p class="project__image-overlay-text">
              {{ 'projects.details.comingSoon' | translate }}
            </p>
          </div>
        }
      </div>

      <div class="info__section">
        <div class="project__mobile-info">
          <div class="project__mobile-headline">
            <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />
            <h2>About the project</h2>
          </div>
          <p>{{ project?.aboutText }}</p>
        </div>

        <div class="project__mobile-info">
          <div class="project__mobile-headline">
            <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />
            <h2>How I have organized my work</h2>
          </div>
          <p>{{ project?.organisationText }}</p>
        </div>

        <div class="project__mobile-info">
          <div class="project__mobile-headline">
            <img class="project__info-bubble" src="./assets/bubbles/Ellipse-project.png" />
            <h2>{{ project?.learnedTitle }}</h2>
          </div>
          <p>{{ project?.learnedText }}</p>
        </div>
      </div>

      <div class="project__overview-links">
        <a
          [href]="project?.liveTestLink"
          target="_blank"
          rel="noopener noreferrer"
          class="button button--secondary"
        >
          Live Test
        </a>

        <a
          [href]="project?.githubLink"
          target="_blank"
          rel="noopener noreferrer"
          class="button button--primary"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</div>
