@font-face {
  font-family: 'Anta';
  src: url('/assets/fonts/Anta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/JosefinSans-Medium.ttf') format('truetype');
}
