@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';

.app-hero {
  height: calc(100vh - 130px);
  font-family: 'Anta';
  position: relative;
}

.hero {
  &__inner {
    position: relative;
    display: flex;
    color: var(--secondary-color);

    padding-top: 100px;
    padding-inline: var(--section-inl-sm);
  }
}

.mobile {
  display: none;
}

.hero__image {
  &-side {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 600px;
    height: 600px;
  }

  &-overlay {
    position: absolute;
    bottom: -10px;
    left: auto;
    z-index: 2;
  }
}

.background--default {
  position: absolute;
  opacity: 1;
}

.background--hover {
  opacity: 0;
  transform: scale(0.55);

  z-index: 1;
}

// CHANGE BUBBLES

.hero__image-side:hover {
  .background--default {
    opacity: 0;
  }
  .background--hover {
    opacity: 1;
  }
}

// CONTENT SIDE

.hero__content-side {
  @include mixin.flex-center(column);
  gap: 64px;
  width: 60%;
  text-align: center;
}

.hero {
  &__top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo-icon-wrapper {
    @include mixin.flex-center;
    padding-bottom: 4px;
  }

  &__logo-icon {
    width: 64px;
    height: 64px;

    &:hover {
      animation: spin 2s infinite;
    }
  }

  &__logo-text {
    @include mixin.flex-center(column);
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
  }

  &__text-developer {
    font-size: 12px;
    margin-top: 4px;
    letter-spacing: 2px;
  }
}

// SOCIAL MEDIA

.hero__social {
  @include mixin.flex-center(column);

  position: absolute;
  right: 0;
  gap: 12px;

  &-item {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-block;
    object-fit: contain;
    cursor: pointer;

    &--default {
      opacity: 1;
    }

    &--hover {
      opacity: 0;
    }
  }

  &-item:hover &-icon--default {
    opacity: 0;
  }
  &-item:hover &-icon--hover {
    opacity: 1;
  }
}

.hero {
  &__headline {
    @include mixin.flex-center(column);
    gap: 16px;
  }

  &__name {
    font-size: 60px;
    letter-spacing: 2px;
  }

  &__job-title {
    font-size: 32px;
    letter-spacing: 2px;
  }
}

// BUTTON

.hero {
  &__button {
    margin-top: 100px;
    position: relative;
    display: inline-block; // Passt den Container an die Bildgröße an
    width: 40px;
    height: 90px;
    cursor: pointer;
    margin-bottom: 16px;
  }
}

// das zweite Bild standardmäßig unsichtbar machen
.hero__button .hero__button-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
// das zweite bild beim hovern einblenden
.hero__button:hover .hero__button-hover {
  opacity: 1;
}
// animation logo

@keyframes spin {
  from {
    transform: (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//  BURGER MENU

.hero__burger-menu {
  display: none;
  position: relative;
}

.hero__burger-menu {
  position: relative;
}

.hero__burger-menu-background {
  width: 600px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__burger-menu-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__burger-menu-item {
  & a {
    font-size: 28px;
    text-decoration: none;
    color: var(--background-color);
    letter-spacing: 2px;
    cursor: pointer;
  }
}

.hero__burger-menu-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.burger__language-item {
  position: relative;
}

.burger__language-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.burger__language-button {
  position: relative;
  background: transparent;
  border: none;
  font-size: 28px;
}

.burger__language-button--active {
  color: var(--secondary-color);
}

// RESPONSIVE

@include mixin.responsive(tabletPro) {
  .hero__inner {
    padding-inline: 48px;
  }

  .hero__image-side {
    width: 380px;
    height: 380px;
    margin-top: auto;
  }

  .background--default,
  .background--hover {
    width: 150%;
    height: auto;
  }

  .hero__image-overlay {
    width: 60%;
    height: auto;
  }

  .hero__content-side {
    width: calc(100% - 380px);
  }

  .hero__top {
    padding-top: 16px;
  }

  .hero__content-side {
    gap: 55px;
  }
}

@include mixin.responsive(tablet) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero__top {
    display: none;
  }

  .hero__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 32px;
    padding-top: 40px;
  }

  .hero__image-side {
    order: 1;
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__burger-menu-background {
    width: 500px;
    height: 580px;
  }

  .hero__burger-menu-nav {
    top: 52%;
  }

  .hero__burger-menu-item a {
    font-size: 32px;
  }

  .hero__image-mobile {
    max-width: 100%;
  }

  .hero__content-side {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__headline {
    order: 1;
  }

  .hero__button {
    order: 2;
  }

  .hero__name {
    font-size: 68px;
  }

  .hero__button img {
    width: 60px;
    height: 135px;
  }

  .hero__burger-menu {
    display: block;
  }
}

@include mixin.responsive(mobile) {
  .hero__name {
    font-size: 40px;
  }

  .hero__job-title {
    font-size: 24px;
  }

  .hero__burger-menu-background {
    width: 400px;
    height: 480px;
  }

  .hero__burger-menu-nav {
    gap: 50px;
    top: 46%;
  }

  .hero__button img {
    width: 50px;
    height: 125px;
    margin-top: -100px;
  }
}
@include mixin.responsive(mobileSmall) {
  .hero__name {
    font-size: 33px;
  }

  .hero__job-title {
    font-size: 20px;
  }

  .hero__button img {
    width: 40px;
    height: 105px;
  }

  .hero__burger-menu-background {
    width: 340px;
    height: 370px;
  }

  .hero__burger-menu-nav {
    gap: 40px;
    top: 50%;
  }

  .hero__burger-menu-item a {
    font-size: 22px;
  }

  .burger__language-button {
    font-size: 22px;
  }
}
