<section class="hero content-limit" id="hero">
  <div class="hero__inner">
    <!-- LEFT -->
    <div class="hero__image-side">
      <!-- WIDE SCREEN -->
      <img class="hero__image-widescreen" src="./assets/img/Ellipse-Franzy.png" />
      <!-- DESKTOP / TABLET PRO -->
      <img
        class="hero__image-background background--default desktop"
        src="./assets/hero-section/shape-default.png"
      />

      <img
        class="hero__image-background background--hover desktop"
        src="./assets/hero-section/shape-hover.png"
      />

      <img class="hero__image-overlay desktop" src="./assets/img/franzy.png" />

      <!-- MOBILE NORMAL IMAGE -->

      @if (!isBurgerMenuOpen) {
        <img class="hero__image-mobile mobile widescreen" src="./assets/img/Ellipse-Franzy.png" />
      }

      <!-- BURGER MENU -->

      @if (isBurgerMenuOpen) {
        <div class="hero__burger-menu">
          <img
            class="hero__burger-menu-background"
            src="./assets/hero-section/responsive/Ellipse 35.png"
          />
          <nav class="hero__burger-menu-nav">
            <div class="hero__burger-menu-item">
              <a href="#why-me">{{ 'header.whyMe' | translate }}</a>
            </div>

            <div class="hero__burger-menu-item">
              <a href="#skills">
                {{ 'header.skills' | translate }}
              </a>
            </div>

            <div class="hero__burger-menu-item">
              <a href="#projects"
                ><a href="#why-me">{{ 'header.projects' | translate }}</a></a
              >
            </div>

            <div class="hero__burger-menu-item">
              <a href="#contact"
                ><a href="#why-me">{{ 'header.contact' | translate }}</a></a
              >
            </div>

            <div class="hero__burger-menu-language">
              <div
                class="burger__language-item"
                (mouseover)="onMouseOver('de')"
                (mouseleave)="onMouseLeave()"
              >
                @if (activeLanguage == 'de' && hoveredLanguage == '') {
                  <img class="burger__language-bubble" src="./assets/bubbles/Ellipse-24.png" />
                }

                <button
                  class="burger__language-button"
                  [class.burger__language-button--active]="
                    hoveredLanguage == 'de' || (hoveredLanguage == '' && activeLanguage == 'de')
                  "
                  (click)="changeLanguage('de')"
                >
                  DE
                </button>
              </div>

              <div
                class="burger__language-item"
                (mouseover)="onMouseOver('en')"
                (mouseleave)="onMouseLeave()"
              >
                @if (activeLanguage == 'en' && hoveredLanguage == '') {
                  <img class="burger__language-bubble" src="./assets/bubbles/Ellipse-24.png" />
                }

                <button
                  class="burger__language-button"
                  [class.burger__language-button--active]="
                    hoveredLanguage == 'en' || (hoveredLanguage == '' && activeLanguage == 'en')
                  "
                  (click)="changeLanguage('en')"
                >
                  EN
                </button>
              </div>
            </div>
          </nav>
        </div>
      }
    </div>

    <!-- HERO RIGHT -->
    <div class="hero__content-side">
      <!-- TOP SECTION -->

      <div class="hero__top">
        <div class="hero__logo">
          <div class="hero__logo-icon-wrapper">
            <img class="hero__logo-icon" src="./assets/icons/logo-light2.png" />
          </div>

          <div class="hero__logo-text">
            <div class="hero__text-name">F.Kalloch</div>
            <div class="hero__text-developer color-blue">developer</div>
          </div>
        </div>

        <div class="hero__social">
          <!-- ICON MAIL-->

          <div class="hero__social-item">
            <a href="mailto:f.kalloch@outlook.de" target="_blank">
              <img
                class="hero__social-icon hero__social-icon--default"
                src="./assets/icons/social/mail-default.png"
              />

              <img
                class="hero__social-icon hero__social-icon--hover"
                src="./assets/icons/social/mail-hover-blue.png"
              />
            </a>
          </div>

          <!-- ICON GITHUB -->

          <div class="hero__social-item">
            <a href="https://github.com/FranziskaKalloch/FranziskaKalloch.git" target="_blank">
              <img
                class="hero__social-icon hero__social-icon--default"
                src="./assets/icons/social/github-default.png"
              />
              <img
                class="hero__social-icon hero__social-icon--hover"
                src="./assets/icons/social/github-hover-blue.png"
              />
            </a>
          </div>

          <!-- ICON LINKEDIN -->
          <div class="hero__social-item">
            <a href="https://www.linkedin.com/in/kalloch-franziska-a570b2175/" target="_blank">
              <img
                class="hero__social-icon hero__social-icon--default"
                src="./assets/icons/social/linkedin-default.png"
              />
              <img
                class="hero__social-icon hero__social-icon--hover"
                src="./assets/icons/social/linkedin-hover-blue.png"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- HEADLINE SECTION -->

      <div class="hero__headline">
        <h1 class="hero__name">Franziska Kalloch</h1>
        <h2 class="hero__job-title">FULLSTACK DEVELOPER</h2>
      </div>

      <!-- BUTTON  -->

      <div class="hero__button" (click)="scrollToContact()">
        <img
          class="hero__scroll-button hero__button-default"
          src="./assets/icons/Arrow-down-default.png"
        />
        <img
          class="hero__scroll-button hero__button-hover"
          src="./assets/icons/Arrow-down-hover.png"
        />
      </div>
    </div>
  </div>
</section>
