@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';

.hero__image-widescreen {
  display: none;

  @include mixin.responsive-min(ultraWide) {
    display: block;
    width: clamp(700px, 28vw, 900px);
    max-width: 100%;
    height: auto;
  }
}

.hero__image-mobile {
  display: none;
}

.hero__image-background,
.hero__image-overlay {
  display: block;

  @include mixin.responsive-min(ultraWide) {
    display: none;
  }
}

// HERO SECTION START

.hero {
  min-height: calc(100vh - 130px);
  position: relative;

  @include mixin.responsive-min(wideScreen) {
    display: flex;
    align-items: center;
  }
}

.hero {
  &__inner {
    position: relative;
    display: flex;
    align-items: stretch;
    color: var(--secondary-color);
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    box-sizing: border-box;
    padding-inline: var(--section-inl-sm);

    @include mixin.responsive-min(wideScreen) {
      min-height: calc(100vh - 130px);
      align-items: center;
      padding-inline: 0;
    }
  }
}

.hero__image {
  &-side {
    // Gemeinsame Größenbasis für Blase und Person
    --bubble-size: 600px;
    // --bubble-size: clamp(440px, 44vw, 620px);
    --person-size: calc(var(--bubble-size) * 0.43);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex: 0 0 55%;
    min-height: calc(100vh - 130px);
    overflow: visible;
    @include mixin.responsive-min(wideScreen) {
      justify-content: center;
      align-items: center;
      flex: 0 0 55%;
    }
  }

  &-overlay {
    position: absolute;
    bottom: -10px;
    left: clamp(50px, 10vw, 70px);
    z-index: 2;
    width: var(--person-size);
    height: auto;
  }
}

.hero__image-background {
  position: absolute;
  bottom: -100px;
  left: calc(var(--section-inl-sm) * -1);
  width: var(--bubble-size);
  height: auto;
  transform-origin: center;
  transition:
    opacity 125ms ease-in-out,
    transform 250ms ease-in-out;
}

.background--default {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transform: scale(1) rotate(0deg);
}

.background--hover {
  z-index: 1;
  opacity: 0;
  transform-origin: center;
  transform: scale(0.9) rotate(0deg);
}

// CHANGE BUBBLES

.hero__image-side:hover {
  .background--default {
    opacity: 0;
  }
  .background--hover {
    opacity: 1;
    transform: scale(0.9) rotate(4deg);
  }
}

// CONTENT SIDE

.hero__content-side {
  @include mixin.flex-center(column);
  position: relative;
  gap: clamp(60px, 6vh, 80px);
  flex: 0 0 45%;
  min-width: 0;
  padding-top: clamp(70px, 8vh, 120px);
  padding-bottom: 24px;
  text-align: center;
  @include mixin.responsive-min(wideScreen) {
    width: auto;
    flex: 1;
    max-width: 100%;
  }
}

.hero {
  &__top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo-icon-wrapper {
    @include mixin.flex-center;
    padding-bottom: 4px;
  }

  &__logo-icon {
    width: 64px;
    height: 64px;

    &:hover {
      animation: spin 2s infinite;
    }
  }

  &__logo-text {
    @include mixin.flex-center(column);
    text-align: center;
    letter-spacing: 2px;
    font-size: 12px;
  }

  &__text-developer {
    font-size: 12px;
    margin-top: 4px;
    letter-spacing: 2px;
  }
}

// SOCIAL MEDIA

.hero__social {
  @include mixin.flex-center(column);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  gap: 12px;

  &-item {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  &-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    display: inline-block;
    object-fit: contain;
    cursor: pointer;

    &--default {
      opacity: 1;
    }

    &--hover {
      opacity: 0;
    }
  }

  &-item:hover &-icon--default {
    opacity: 0;
  }
  &-item:hover &-icon--hover {
    opacity: 1;
  }
}

.hero {
  &__headline {
    @include mixin.flex-center(column);
    gap: 16px;
  }

  &__name {
    font-size: clamp(48px, 4.7vw, 75px);
    letter-spacing: 2px;
    white-space: nowrap;
    @include mixin.responsive-min(wideScreen) {
      font-size: 75px;
    }
  }

  &__job-title {
    font-size: 32px;
    letter-spacing: 2px;
    @include mixin.responsive-min(wideScreen) {
      font-size: 38px;
    }
  }
}

// BUTTON
.hero {
  &__button {
    margin-top: 100px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 90px;
    cursor: pointer;
    margin-bottom: 16px;

    @include mixin.responsive-min(wideScreen) {
      width: 50px;
      height: 125px;
    }
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// das zweite Bild standardmäßig unsichtbar machen
.hero__button .hero__button-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3 ease-in-out;
}
// das zweite bild beim hovern einblenden
.hero__button:hover .hero__button-hover {
  opacity: 1;
}
// animation logo

@keyframes spin {
  from {
    transform: (0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//  BURGER MENU

.hero__burger-menu {
  display: none;
  position: relative;
}

.hero__burger-menu {
  position: relative;
}

.hero__burger-menu-background {
  width: 600px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__burger-menu-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero__burger-menu-item {
  & a {
    font-size: 28px;
    text-decoration: none;
    color: var(--background-color);
    letter-spacing: 2px;
    cursor: pointer;
  }
}

.hero__burger-menu-language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.burger__language-item {
  position: relative;
}

.burger__language-bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.burger__language-button {
  position: relative;
  background: transparent;
  border: none;
  font-size: 28px;
}

.burger__language-button--active {
  color: var(--secondary-color);
}

// ------------------------------------------
// ----------- RESPONSIVE -------------------
// ------------------------------------------

@include mixin.responsive(tablet) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero__top {
    display: none;
  }

  .hero__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 32px;
    padding-top: 40px;
  }

  .hero__image-side {
    order: 1;
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__image-widescreen {
    display: none;
  }

  .hero__burger-menu-background {
    width: 500px;
    height: 580px;
  }

  .hero__burger-menu-nav {
    top: 52%;
  }

  .hero__burger-menu-item a {
    font-size: 32px;
  }

  .hero__image-mobile {
    max-width: 100%;
  }

  .hero__content-side {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__headline {
    order: 1;
  }

  .hero__button {
    order: 2;
  }

  .hero__name {
    font-size: 68px;
  }

  .hero__button img {
    width: 60px;
    height: 135px;
  }

  .hero__burger-menu {
    display: block;
  }
}

@include mixin.responsive(mobile) {
  .hero__name {
    font-size: 40px;
  }

  .hero__job-title {
    font-size: 24px;
  }

  .hero__burger-menu-background {
    width: 400px;
    height: 480px;
  }

  .hero__burger-menu-nav {
    gap: 50px;
    top: 46%;
  }

  .hero__button img {
    width: 50px;
    height: 125px;
    margin-top: -100px;
  }
}
@include mixin.responsive(mobileSmall) {
  .hero__name {
    font-size: 33px;
  }

  .hero__job-title {
    font-size: 20px;
  }

  .hero__button img {
    width: 40px;
    height: 105px;
  }

  .hero__burger-menu-background {
    width: 340px;
    height: 370px;
  }

  .hero__burger-menu-nav {
    gap: 40px;
    top: 50%;
  }

  .hero__burger-menu-item a {
    font-size: 22px;
  }

  .burger__language-button {
    font-size: 22px;
  }
}
