@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';
@use '../../../scss/components/buttons';

.app-references {
  padding-top: var(--section-gap);
}

.ref__inner {
  @include mixin.flex-center(column);
}

.ref__headline-div {
  margin-bottom: 70px;
  letter-spacing: 2px;
}

.ref__list {
  @include mixin.flex-center;
  gap: 16px;

  &-item {
    position: relative;
  }
}

// NORMAL STATE

.bubble-default {
  opacity: 1;
}

.bubble-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

//  HOVER STATE

.ref__list-item:hover .bubble-default {
  opacity: 0;
}

.ref__list-item:hover .bubble-hover {
  opacity: 1;
}

// CONTENT

.ref__content {
  @include mixin.flex-center(column);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 22px;

  &-header {
    @include mixin.flex-center(column);
    gap: 8px;
    letter-spacing: 2px;

    color: var(--secondary-color);
  }

  &-feedback {
    text-align: center;
    color: var(--secondary-color);
    line-height: 1.1;
    padding-bottom: 20px;
    letter-spacing: 1px;
    width: 230px;
  }

  &-link a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--primary-color);
    letter-spacing: 1px;
  }
}

// RESPONSIVE

@include mixin.responsive(desktop) {
  .ref__list {
    gap: 12px;
  }

  .bubble-default,
  .bubble-hover {
    width: 360px;
    height: auto;
  }

  .ref__content-feedback {
    width: 210px;
  }
}
@include mixin.responsive(tabletPro) {
  .ref__list {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-inline: 42px;

    gap: 64px;
  }
}

@include mixin.responsive(tablet) {
  .ref__inner {
    align-items: flex-start;
  }

  .ref__headline-div {
    display: none;
  }

  .ref__headline-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: flex-start;
    margin-bottom: 48px;
    padding-inline: 48px;
  }

  .teamplayer {
    letter-spacing: 2px;
    font-size: 48px;
  }

  .color-white {
    color: var(--secondary-color);
    font-size: 20px;
  }

  .bubble-default,
  .bubble-hover {
    width: 500px;
    height: auto;
  }

  .ref__list {
    padding-inline: 100px;
  }

  .ref__content {
    align-items: flex-start;
  }

  .ref__content-header {
    align-items: flex-start;
  }

  .ref__content-feedback {
    text-align: left;
  }

  .ref__content p,
  .ref__content span {
    font-size: 20px;
  }

  .ref__content h2 {
    font-size: 32px;
  }
}
@include mixin.responsive(mobile) {
  .app-references {
    padding-block: 48px;
  }

  .teamplayer {
    font-size: 30px;
  }

  .color-white {
    font-size: 18px;
  }

  .ref__list {
    padding-inline: 32px;
  }

  .bubble-default,
  .bubble-hover {
    width: 380px;
    height: 400px;
  }

  .ref__content {
    align-items: center;

    & p {
      text-align: center;
    }
  }

  .ref__content p,
  .ref__content span {
    font-size: 16px;
  }

  .ref__content h2 {
    font-size: 28px;
  }
}
// @include mixin.responsive(mobileSmall) {}
