@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';
@use '../../../scss/components/buttons';

.app-footer {
  background-color: var(--primary-color);
  padding-block: var(--section-gap);
  padding-inline: var(--section-inl-sm);
  width: 100%;
}

.footer__inner {
  display: flex;
}

.footer__description,
.footer__logo,
.footer__social {
  width: 33%;
}

.footer__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  font-size: 18px;
}

.footer__legal-notice:hover {
  color: var(--secondary-color);
}

.footer__logo {
  @include mixin.flex-center(column);
  gap: 2px;

  &-img {
    height: 64px;
    width: 64px;
  }

  &-text {
    font-family: 'Anta';
    letter-spacing: 2px;
    font-size: 12px;
  }

  &-developer {
    margin-top: 4px;
  }
}

.color-white {
  color: var(--secondary-color);
}

// social media

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.footer__social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;

  &-icon {
    position: relative;
    width: 34px;
    height: 34px;
  }
}

.social__icon--default,
.social__icon--hover {
  position: absolute;
  top: 0;
  left: 0;
}

.social__icon--default {
  opacity: 1;
}

.social__icon--hover {
  opacity: 0;
}

// HOVER STATE

.footer__social-icon:hover .social__icon--default {
  opacity: 0;
}

.footer__social-icon:hover .social__icon--hover {
  opacity: 1;
}

// RESPONSIVE

@include mixin.responsive(tabletPro) {
  .app-footer {
    padding-inline: 48px;
  }
}

@include mixin.responsive(tablet) {
  .app-footer {
    padding-block: 48px;
  }

  .footer__logo {
    order: 1;
  }

  .footer__social {
    order: 2;
  }

  .footer__description {
    order: 3;
  }

  .footer__inner {
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 62px;
  }

  .footer__description,
  .footer__logo,
  .footer__social {
    width: 100%;
  }

  .footer__description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 16px;
    font-size: 20px;
  }

  .footer__logo {
    @include mixin.flex-center(column);
    gap: 2px;

    &-img {
      height: 84px;
      width: 84px;
    }

    &-text {
      letter-spacing: 2px;
      font-size: 16px;
    }
  }

  // RESPONSIVE SOCIAL ICONS

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .footer__social {
    justify-content: center;
    gap: 52px;

    & img {
      width: 40px;
      height: 40px;
    }
  }

  // Mobile Icons
  .social__icon--default-mobile,
  .social__icon--hover-mobile {
    position: absolute;
    inset: 0;
  }

  .social__icon--default-mobile {
    opacity: 1;
  }

  .social__icon--hover-mobile {
    opacity: 0;
  }

  // Hover
  .footer__social-icon:hover .social__icon--default-mobile {
    opacity: 0;
  }

  .footer__social-icon:hover .social__icon--hover-mobile {
    opacity: 1;
  }

  // Desktop-Default ist zunächst unsichtbar
  .social__icon--default.desktop {
    display: none;
  }

  // Nach Klick anzeigen
  .social__icon--default.desktop.active {
    display: block;
  }
}

@include mixin.responsive(tablet) {
  .footer__inner {
    gap: 40px;
  }

  .footer__description {
    font-size: 16px;
  }
}
