<section class="app-footer">
  <div class="footer__inner content-limit">
    <div class="footer__description">
      <div class="footer__legal-notice" routerLink="/legal-notice">Legal Notice</div>
      <div class="footer__copyright">© Franziska Kalloch 2026</div>
    </div>
    <div class="footer__logo">
      <img class="footer__logo-img" src="./assets/icons/logo-dark2.png" />
      <div class="footer__logo-text">
        <p class="color-white">F.Kalloch</p>
        <p class="footer__logo-developer">developer</p>
      </div>
    </div>
    <div class="footer__social">
      <div class="footer__social-icon">
        <a
          href="https://github.com/FranziskaKalloch/FranziskaKalloch.git"
          target="_blank"
          (click)="changeSocial('github')"
        >
          <!-- Desktop -->
          <img
            class="social__icon--default desktop"
            [class.active]="activeSocial === 'github'"
            src="./assets/icons/contact-form/social-media/github-default.png"
          />
          <img
            class="social__icon--hover desktop"
            src="./assets/icons/contact-form/social-media/github-hover.png"
          />

          <!-- Mobile -->
          <img
            class="social__icon--default-mobile mobile"
            src="./assets/icons/social/github-default-white.png"
          />
          <img
            class="social__icon--hover-mobile mobile"
            src="./assets/icons/social/github-hover-white.png"
          />
        </a>
      </div>
      <!-- EMAIL -->
      <div class="footer__social-icon">
        <a href="mailto:f.kalloch@outlook.de" (click)="changeSocial('email')">
          <!-- Desktop -->
          <img
            class="social__icon--default desktop"
            [class.active]="activeSocial === 'email'"
            src="./assets/icons/contact-form/social-media/email-default.png"
          />
          <img
            class="social__icon--hover desktop"
            src="./assets/icons/contact-form/social-media/email-hover.png"
          />

          <!-- Mobile -->
          <img
            class="social__icon--default-mobile mobile"
            src="./assets/icons/social/mail-default-white.png"
          />
          <img
            class="social__icon--hover-mobile mobile"
            src="./assets/icons/social/mail-hover-white.png"
          />
        </a>
      </div>

      <!-- LinkedIn -->
      <div class="footer__social-icon">
        <a
          href="https://www.linkedin.com/in/kalloch-franziska-a570b2175/"
          target="_blank"
          (click)="changeSocial('linkedin')"
        >
          <!-- Desktop -->
          <img
            class="social__icon--default desktop"
            [class.active]="activeSocial === 'linkedin'"
            src="./assets/icons/contact-form/social-media/linkin-default.png"
          />
          <img
            class="social__icon--hover desktop"
            src="./assets/icons/contact-form/social-media/linkin-hover.png"
          />

          <!-- Mobile -->
          <img
            class="social__icon--default-mobile mobile"
            src="./assets/icons/social/linkedin-default-white.png"
          />
          <img
            class="social__icon--hover-mobile mobile"
            src="./assets/icons/social/linkedin-hover-white.png"
          />
        </a>
      </div>
    </div>
  </div>
</section>
