<section class="app-footer content-limit">
  <div class="footer__inner">
    <div class="footer__description">
      <div class="footer__legal-notice" routerLink="/legal-notice">Legal Notice</div>
      <div class="footer__copyright">© Franziska Kalloch 2026</div>
    </div>
    <div class="footer__logo">
      <img class="footer__logo-img" src="./assets/icons/logo-dark2.png" />
      <div class="footer__logo-text">
        <p class="color-white">F.Kalloch</p>
        <p class="footer__logo-developer">developer</p>
      </div>
    </div>
    <div class="footer__social">
      <div class="footer__social-icon">
        <a href="https://github.com/FranziskaKalloch/FranziskaKalloch.git">
          <img
            class="social__icon--default"
            src="./assets/icons/contact-form/social-media/github-default.png"
          />
          <img
            class="social__icon--hover"
            src="./assets/icons/contact-form/social-media/github-hover.png"
          />
        </a>
      </div>
      <div class="footer__social-icon">
        <a href="mailto:f.kalloch@outlook.de">
          <img
            class="social__icon--default"
            src="./assets/icons/contact-form/social-media/email-default.png"
          />
          <img
            class="social__icon--hover"
            src="./assets/icons/contact-form/social-media/email-hover.png"
          />
        </a>
      </div>
      <div class="footer__social-icon">
        <a href="">
          <img
            class="social__icon--default"
            src="./assets/icons/contact-form/social-media/linkin-default.png"
          />
          <img
            class="social__icon--hover"
            src="./assets/icons/contact-form/social-media/linkin-hover.png"
          />
        </a>
      </div>
    </div>
  </div>
</section>
