<section class="app-footer content-limit">
  <div class="footer__inner">
    <div class="footer__description">
      <div class="footer__legal-notice">Legal Notice</div>
      <div class="footer__copyright">© Franziska Kalloch 2026</div>
    </div>
    <div class="footer__logo">
      <img class="footer__logo-img" src="./assets/icons/logo-dark2.png" />
      <div class="footer__logo-text">
        <p class="color-white">F.Kalloch</p>
        <p class="footer__logo-developer">developer</p>
      </div>
    </div>
    <div class="footer__social">
      <div class="footer__social-icon">
        <img
          class="social__icon--default"
          src="./assets/icons/contact-form/social-media/github-default.png"
        />
        <img
          class="social__icon--hover"
          src="./assets/icons/contact-form/social-media/github-hover.png"
        />
      </div>
      <div class="footer__social-icon">
        <img
          class="social__icon--default"
          src="./assets/icons/contact-form/social-media/email-default.png"
        />
        <img
          class="social__icon--hover"
          src="./assets/icons/contact-form/social-media/email-hover.png"
        />
      </div>
      <div class="footer__social-icon">
        <img
          class="social__icon--default"
          src="./assets/icons/contact-form/social-media/linkin-default.png"
        />
        <img
          class="social__icon--hover"
          src="./assets/icons/contact-form/social-media/linkin-hover.png"
        />
      </div>
    </div>
  </div>
</section>
