<section class="app-contact content-limit" id="contact">
  <div class="contact__inner">
    <div class="contact__header">
      <h2 class="headline color-blue">{{ 'contact.headline' | translate }}</h2>
      <div class="contact__scroll-button">
        <img class="button-default" src="./assets/icons/Arrow-up-default.png" />
        <img class="button-hover" src="./assets/icons/Arrow-up-hover.png" />
      </div>
    </div>

    <!-- TEXT AREA -->
    <div class="contact__text" id="contact">
      <div class="contact__text-description">
        <p>
          {{ 'contact.description' | translate }}
        </p>
      </div>
      <div class="contact__text-contact">
        <div
          class="contact__mail"
          (click)="contact('mail')"
          [class.active]="activeContact === 'mail'"
        >
          <img class="default__icon" src="./assets/icons/contact/email-default.png" />
          <img class="hover__icon" src="./assets/icons/contact/email-hover.png" />
          <a href="mailto: f.kalloch@outlook.de">E-Mail: f.kalloch@outlook.de</a>
        </div>
        <div
          class="contact__phone"
          (click)="contact('phone')"
          [class.active]="activeContact === 'phone'"
        >
          <img class="default__icon" src="./assets/icons/contact/phone-default.png" />
          <img class="hover__icon" src="./assets/icons/contact/phone-hover.png" />
          <p>Tel: 0176 631 59 061</p>
        </div>
      </div>
    </div>
    <div class="text__mobile color-blue"><p>Let us work together!</p></div>
    <!-- FORM AREA -->
    <form class="contact__form" [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="contact__information">
        <div class="contact__information-name">
          @if (form.controls.name.invalid && form.controls.name.touched) {
            <label for="name" class="color-red">{{ 'contact.nameError' | translate }}</label>
          } @else {
            <label for="name" class="color-blue">{{ 'contact.name' | translate }}</label>
          }
          <input
            type="text"
            id="name"
            formControlName="name"
            [placeholder]="'contact.name' | translate"
            [class.input-error]="form.controls.name.invalid && form.controls.name.touched"
          />
        </div>
        <div class="contact__information-mail">
          @if (form.controls.email.invalid && form.controls.email.touched) {
            <label for="email" class="color-red">{{ 'contact.emailError' | translate }}</label>
          } @else {
            <label for="email" class="color-blue">{{ 'contact.email' | translate }}</label>
          }

          <input
            type="email"
            id="email"
            formControlName="email"
            [placeholder]="'contact.email' | translate"
            [class.input-error]="form.controls.email.invalid && form.controls.email.touched"
          />
        </div>
      </div>
      <div class="contact__information-message">
        @if (form.controls.message.invalid && form.controls.message.touched) {
          <label for="message" class="color-red">{{ 'contact.messageError' | translate }}</label>
        } @else {
          <label for="message" class="color-blue">{{ 'contact.message' | translate }}</label>
        }
        <textarea
          id="message"
          formControlName="message"
          [placeholder]="'contact.message' | translate"
          [class.input-error]="form.controls.message.invalid && form.controls.message.touched"
        ></textarea>
      </div>
      <div
        class="contact__information-policy"
        [class.checked]="form.controls.policy.value"
        [class.error]="form.controls.policy.invalid && form.controls.policy.touched"
      >
        <input type="checkbox" id="policy" class="policy-checkbox" formControlName="policy" />
        <img class="checkbox-default" src="./assets/icons/checkbox/checkbox-default.png" />
        <img class="checkbox-hover" src="./assets/icons/checkbox/checkbox-hover.png" />
        <img class="checkbox-checked" src="./assets/icons/checkbox/checkbox-checked.png" />
        <img class="checkbox-error" src="./assets/icons/checkbox/checkbox-error.png" />
        <div class="policy-text-wrapper">
          <label for="policy" class="label-policy"
            >{{ 'contact.privacyText' | translate }}
            <span class="color-blue" routerLink="/privacy-policy">{{
              'contact.privacyPolicy' | translate
            }}</span>
            {{ 'contact.privacyTextEnd' | translate }}</label
          >
          <div class="checkbox-error-text error">{{ 'contact.privacyError' | translate }}</div>
        </div>
      </div>

      <div class="submit-button">
        <button
          type="submit"
          class="button"
          [class.button--disabled]="!form.controls.policy.value"
          [class.button--active]="form.controls.policy.value"
        >
          {{ 'contact.send' | translate }}
        </button>
      </div>
    </form>
    <!-- FORM AREA END -->
    <div class="contact__scroll-button--mobile">
      <img class="button-default-mobile" src="./assets/icons/Arrow-up-default.png" />
      <img class="button-hover-mobile" src="./assets/icons/Arrow-up-hover.png" />
    </div>
  </div>
</section>
