@use '../../../scss/abstract/mixin';
@use '../../../scss/base/global';
@use '../../../scss/components/buttons';

.tab-title-mobile {
  display: none;
}

.app-projects {
  padding-top: var(--section-gap);
}

.headline-div {
  display: flex;
  justify-content: center;

  margin-bottom: 70px;
}

// NORMAL STATE

.projects__tabs {
  display: flex;
  justify-content: flex-start;

  gap: 100px;
  padding-inline: 100px;
  color: var(--primary-color);

  &-headline {
    font-size: 28px;

    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
      color: white;
    }
  }
}

// ACTIVE STATE

.active-tab {
  background-color: var(--surface-color);
  height: 120px;
  padding-inline: 32px;
  border-radius: 32px 32px 0 0;
  color: var(--secondary-color);
}

// RESPONSIVE

@include mixin.responsive(desktop) {
  .projects__tabs {
    gap: 70px;
  }
  .projects__tabs-headline {
    font-size: 24px;
  }
}

@include mixin.responsive(tabletPro) {
  .projects__tabs {
    gap: 50px;
    padding-inline: 50px;
    font-size: 26px;
  }
}

@include mixin.responsive(tablet) {
  .projects__tabs {
    gap: 40px;
    padding-left: 0px;
    padding-right: 16px;
    font-size: 20px;
    &-headline {
      text-wrap: balance;
    }
  }

  .active-tab {
    background-color: var(--surface-color);
    height: 100px;
    padding-inline: 20px;
    border-radius: 32px 32px 0 0;
    color: var(--secondary-color);
  }
}

@include mixin.responsive(mobile) {
  .app-projects {
    padding-block: 48px;
  }

  .tab-title-desktop {
    display: none;
  }

  .tab-title-mobile {
    display: inline;
    font-size: 17px;
    text-wrap: balance;
  }

  .projects__tabs {
    gap: 20px;
  }

  .active-tab {
    height: 50px;
  }
}
