@use './breakpoints' as *;
@use 'sass:map';

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin responsive($size) {
  @media screen and (max-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin responsive-min($size) {
  @media screen and (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}
