:root {
  // COLORS
  --background-color: #262e34;
  --primary-color: #89bcd9;
  --secondary-color: #f8f5ec;
  --hover-color-dark: rgb(58, 68, 72);
  --surface-color: rgb(45, 56, 64);
  --error-color: #e44c36;
  --done-color: #97e163;
  --inactive: rgb(192, 193, 195);

  // SPACES
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 40px;
  --space-lg: 60px;
  --space-xxl: 120px;

  --section-gap: 100px;
  --section-inl-sm: 100px;
  --section-inl-big: 200px;
}
